# Data Exploration

In [96]:
import pandas as pd

In [97]:
data = pd.read_csv('cleanest_data.csv')

In [98]:
data

,is_successful,create_date,order_amount,order_messages,order_changes,partner_success_rate,partner_total_orders,partner_order_age_days,partner_avg_amount,partner_success_avg_amount,...,partner_success_avg_changes,partner_fail_avg_changes,day_of_week,month,quarter,hour_of_day,order_lines_count,discount_total,salesperson,source
0,1,2017-07-29 07:48:26.812523,5235.66,25,22,0.000000,0,0,0.000000,0.000000,...,0.000000,0.000,Saturday,July,3,7,6,0.0,user-1-76,False
1,1,2017-07-29 07:54:09.954757,876.96,10,5,0.000000,0,0,0.000000,0.000000,...,0.000000,0.000,Saturday,July,3,7,3,0.0,user-1-76,False
2,1,2017-07-29 08:04:13.162858,3012.77,7,4,0.000000,0,0,0.000000,0.000000,...,0.000000,0.000,Saturday,July,3,8,4,0.0,user-1-9,False
3,1,2017-07-29 08:11:38.086709,621.34,10,6,0.000000,0,0,0.000000,0.000000,...,0.000000,0.000,Saturday,July,3,8,4,0.0,user-1-2,False
4,1,2017-07-29 08:15:05.548616,813.12,6,3,0.000000,0,0,0.000000,0.000000,...,0.000000,0.000,Saturday,July,3,8,3,0.0,user-1-9,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86789,1,2024-12-11 11:09:57.124395,0.53,5,2,11.111111,9,57,71388.001111,0.000000,...,4.000000,3.375,Wednesday,December,4,11,1,0.0,user-1-49,False
86790,0,2024-12-16 08:38:35.387458,697.37,2,0,100.000000,24,752,530.264583,530.264583,...,2.458333,0.000,Monday,December,4,8,3,0.0,user-1-113,False
86791,1,2024-12-19 13:59:08.130686,129.96,2,1,0.000000,0,0,0.000000,0.000000,...,0.000000,0.000,Thursday,December,4,13,1,0.0,user-1-2,False
86792,1,2025-01-02 08:33:33.424152,129.96,2,1,100.000000,1,13,129.960000,129.960000,...,1.000000,0.000,Thursday,January,1,8,1,0.0,user-1-2,False
86793,1,2025-01-02 08:36:13.298285,190.44,4,2,100.000000,7,933,286.988571,286.988571,...,3.857143,0.000,Thursday,January,1,8,2,0.0,user-1-10,False

In [99]:
data.head(10)

,is_successful,create_date,order_amount,order_messages,order_changes,partner_success_rate,partner_total_orders,partner_order_age_days,partner_avg_amount,partner_success_avg_amount,...,partner_success_avg_changes,partner_fail_avg_changes,day_of_week,month,quarter,hour_of_day,order_lines_count,discount_total,salesperson,source
0,1,2017-07-29 07:48:26.812523,5235.66,25,22,0.0,0,0,0.0,0.0,...,0.0,0.0,Saturday,July,3,7,6,0.0,user-1-76,False
1,1,2017-07-29 07:54:09.954757,876.96,10,5,0.0,0,0,0.0,0.0,...,0.0,0.0,Saturday,July,3,7,3,0.0,user-1-76,False
2,1,2017-07-29 08:04:13.162858,3012.77,7,4,0.0,0,0,0.0,0.0,...,0.0,0.0,Saturday,July,3,8,4,0.0,user-1-9,False
3,1,2017-07-29 08:11:38.086709,621.34,10,6,0.0,0,0,0.0,0.0,...,0.0,0.0,Saturday,July,3,8,4,0.0,user-1-2,False
4,1,2017-07-29 08:15:05.548616,813.12,6,3,0.0,0,0,0.0,0.0,...,0.0,0.0,Saturday,July,3,8,3,0.0,user-1-9,False
5,1,2017-07-29 08:19:38.625071,1029.62,22,19,0.0,0,0,0.0,0.0,...,0.0,0.0,Saturday,July,3,8,2,0.0,user-1-9,False
6,1,2017-07-29 08:29:50.487564,2832.00,10,7,0.0,0,0,0.0,0.0,...,0.0,0.0,Saturday,July,3,8,2,0.0,user-1-76,False
7,1,2017-07-29 08:40:21.407789,340.78,10,6,0.0,0,0,0.0,0.0,...,0.0,0.0,Saturday,July,3,8,3,0.0,user-1-9,False
8,1,2017-07-29 08:44:45.461359,1546.80,11,8,0.0,0,0,0.0,0.0,...,0.0,0.0,Saturday,July,3,8,2,0.0,user-1-9,False
9,1,2017-07-29 08:53:03.880701,2080.80,8,4,0.0,0,0,0.0,0.0,...,0.0,0.0,Saturday,July,3,8,3,0.0,user-1-9,False

In [100]:
data.tail(10)

,is_successful,create_date,order_amount,order_messages,order_changes,partner_success_rate,partner_total_orders,partner_order_age_days,partner_avg_amount,partner_success_avg_amount,...,partner_success_avg_changes,partner_fail_avg_changes,day_of_week,month,quarter,hour_of_day,order_lines_count,discount_total,salesperson,source
86784,1,2024-11-26 09:23:06.451541,81.67,2,1,33.333333,3,453,27.410000,81.670000,...,1.000000,1.500000,Tuesday,November,4,9,1,0.0,user-1-9,False
86785,0,2024-11-26 09:34:52.576840,0.00,1,0,0.000000,0,0,0.000000,0.000000,...,0.000000,0.000000,Tuesday,November,4,9,0,0.0,user-1-39,False
86786,0,2024-12-04 15:14:51.956392,0.00,1,0,58.196721,122,2158,4455.098197,3069.750704,...,4.676056,1.901961,Wednesday,December,4,15,0,0.0,user-1-9,False
86787,1,2024-12-09 10:22:13.166600,203.96,2,1,81.651376,109,2685,6732.654220,5564.707528,...,7.101124,5.450000,Monday,December,4,10,2,0.0,user-1-10,False
86788,1,2024-12-10 11:07:58.049169,108.30,5,4,0.000000,0,0,0.000000,0.000000,...,0.000000,0.000000,Tuesday,December,4,11,1,0.0,user-1-39,False
86789,1,2024-12-11 11:09:57.124395,0.53,5,2,11.111111,9,57,71388.001111,0.000000,...,4.000000,3.375000,Wednesday,December,4,11,1,0.0,user-1-49,False
86790,0,2024-12-16 08:38:35.387458,697.37,2,0,100.000000,24,752,530.264583,530.264583,...,2.458333,0.000000,Monday,December,4,8,3,0.0,user-1-113,False
86791,1,2024-12-19 13:59:08.130686,129.96,2,1,0.000000,0,0,0.000000,0.000000,...,0.000000,0.000000,Thursday,December,4,13,1,0.0,user-1-2,False
86792,1,2025-01-02 08:33:33.424152,129.96,2,1,100.000000,1,13,129.960000,129.960000,...,1.000000,0.000000,Thursday,January,1,8,1,0.0,user-1-2,False
86793,1,2025-01-02 08:36:13.298285,190.44,4,2,100.000000,7,933,286.988571,286.988571,...,3.857143,0.000000,Thursday,January,1,8,2,0.0,user-1-10,False

In [101]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86794 entries, 0 to 86793
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   is_successful                 86794 non-null  int64
 1   create_date                   86794 non-null  object
 2   order_amount                  86794 non-null  float64
 3   order_messages                86794 non-null  int64
 4   order_changes                 86794 non-null  int64
 5   partner_success_rate          86794 non-null  float64
 6   partner_total_orders          86794 non-null  int64
 7   partner_order_age_days        86794 non-null  int64
 8   partner_avg_amount            86794 non-null  float64
 9   partner_success_avg_amount    86794 non-null  float64
 10  partner_fail_avg_amount       86794 non-null  float64
 11  partner_total_messages        86794 non-null  int64
 12  partner_success_avg_messages  86794 non-null  float64
 13  partner_fail_avg_messages     86794 non-null  float64
 14  partner_avg_changes           86794 non-null  float64
 15  partner_success_avg_changes   86794 non-null  float64
 16  partner_fail_avg_changes      86794 non-null  float64
 17  day_of_week                   86794 non-null  object
 18  month                         86794 non-null  object
 19  quarter                       86794 non-null  int64
 20  hour_of_day                   86794 non-null  int64
 21  order_lines_count             86794 non-null  int64
 22  discount_total                86794 non-null  float64
 23  salesperson                   86794 non-null  object
 24  source                        86794 non-null  object
dtypes: float64(11), int64(9), object(5)
memory usage: 16.6+ MB

In [102]:
data.describe()

,is_successful,order_amount,order_messages,order_changes,partner_success_rate,partner_total_orders,partner_order_age_days,partner_avg_amount,partner_success_avg_amount,partner_fail_avg_amount,partner_total_messages,partner_success_avg_messages,partner_fail_avg_messages,partner_avg_changes,partner_success_avg_changes,partner_fail_avg_changes,quarter,hour_of_day,order_lines_count,discount_total
count,86794.000000,8.679400e+04,86794.000000,86794.000000,86794.000000,86794.000000,86794.000000,8.679400e+04,86794.000000,8.679400e+04,86794.000000,86794.000000,86794.000000,86794.000000,86794.000000,86794.000000,86794.000000,86794.000000,86794.000000,86794.000000
mean,0.630954,3.824407e+03,9.408542,3.904521,59.600411,83.696258,899.232136,2.914209e+03,1597.019479,4.112985e+03,758.382688,9.556764,5.705881,4.060877,4.409310,3.058853,2.472821,10.937000,3.369645,0.039169
std,0.482549,3.141098e+04,8.222635,3.836411,31.305902,151.012261,754.145810,1.393899e+04,3562.194344,1.946169e+04,1372.013756,5.916261,4.532492,2.372341,2.945225,2.966175,1.108799,2.888376,5.282779,2.226804
min,0.000000,-6.242400e+03,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,0.000000,4.012500e+00,5.000000,2.000000,44.186047,5.000000,219.000000,4.738430e+02,430.711667,0.000000e+00,47.000000,7.454545,4.555556,3.045045,3.156250,2.000000,1.000000,9.000000,2.000000,0.000000
50%,1.000000,6.159850e+02,7.000000,3.000000,66.666667,26.000000,764.000000,1.127518e+03,933.960000,8.216000e+02,240.000000,9.474948,5.666667,3.969032,4.333333,2.958333,2.000000,11.000000,3.000000,0.000000
75%,1.000000,1.912025e+03,11.000000,4.000000,83.333333,90.000000,1430.000000,2.545909e+03,1789.247500,3.337202e+03,803.000000,12.041667,6.937500,4.961039,5.625000,3.666667,3.000000,13.000000,4.000000,0.000000
max,1.000000,4.140000e+06,282.000000,274.000000,100.000000,1307.000000,2685.000000,2.700000e+06,119310.000000,2.700000e+06,11481.000000,123.500000,143.000000,137.500000,57.000000,137.500000,4.000000,23.000000,1304.000000,390.000000

In [103]:
data.nunique()

is_successful                       2
create_date                     86791
order_amount                    49339
order_messages                    132
order_changes                      70
partner_success_rate            12791
partner_total_orders             1308
partner_order_age_days           2667
partner_avg_amount              75712
partner_success_avg_amount      49415
partner_fail_avg_amount         24093
partner_total_messages           6297
partner_success_avg_messages    18883
partner_fail_avg_messages        6294
partner_avg_changes             23981
partner_success_avg_changes     15727
partner_fail_avg_changes         5687
day_of_week                         7
month                              12
quarter                             4
hour_of_day                        24
order_lines_count                  59
discount_total                     36
salesperson                        31
source                             66
dtype: int64

In [104]:
data.isnull().sum()

is_successful                   0
create_date                     0
order_amount                    0
order_messages                  0
order_changes                   0
partner_success_rate            0
partner_total_orders            0
partner_order_age_days          0
partner_avg_amount              0
partner_success_avg_amount      0
partner_fail_avg_amount         0
partner_total_messages          0
partner_success_avg_messages    0
partner_fail_avg_messages       0
partner_avg_changes             0
partner_success_avg_changes     0
partner_fail_avg_changes        0
day_of_week                     0
month                           0
quarter                         0
hour_of_day                     0
order_lines_count               0
discount_total                  0
salesperson                     0
source                          0
dtype: int64

In [105]:
data['is_successful'].value_counts(normalize=True)

is_successful
1    0.630954
0    0.369046
Name: proportion, dtype: float64

In [106]:
data.skew(numeric_only=True)

is_successful                    -0.542771
order_amount                     63.597978
order_messages                    5.475379
order_changes                     8.201835
partner_success_rate             -0.708427
partner_total_orders              3.626058
partner_order_age_days            0.570445
partner_avg_amount               92.806970
partner_success_avg_amount       18.085258
partner_fail_avg_amount          46.378813
partner_total_messages            3.568156
partner_success_avg_messages      1.976863
partner_fail_avg_messages         4.583495
partner_avg_changes               4.765490
partner_success_avg_changes       2.553038
partner_fail_avg_changes          7.842901
quarter                           0.015067
hour_of_day                       0.331366
order_lines_count               175.787705
discount_total                  113.972894
dtype: float64

In [107]:
pd.crosstab(data['day_of_week'], data['is_successful'], normalize='index')

is_successful         0         1
day_of_week
Friday         0.386884  0.613116
Monday         0.353468  0.646532
Saturday       0.294964  0.705036
Sunday         0.278689  0.721311
Thursday       0.363158  0.636842
Tuesday        0.375406  0.624594
Wednesday      0.368458  0.631542

In [108]:
pd.crosstab(data['month'], data['is_successful'], normalize='index')

is_successful         0         1
month
April          0.401789  0.598211
August         0.344703  0.655297
December       0.403068  0.596932
February       0.402014  0.597986
January        0.360267  0.639733
July           0.362590  0.637410
June           0.365844  0.634156
March          0.377981  0.622019
May            0.365255  0.634745
November       0.355967  0.644033
October        0.349327  0.650673
September      0.356758  0.643242

In [109]:
pd.crosstab(data['salesperson'], data['is_successful'], normalize='index')

is_successful         0         1
salesperson
user-1-10      0.294904  0.705096
user-1-100     0.400000  0.600000
user-1-1066    0.500000  0.500000
user-1-11      0.047619  0.952381
user-1-113     0.299200  0.700800
user-1-1366    0.214286  0.785714
user-1-14      0.150794  0.849206
user-1-1414    0.312169  0.687831
user-1-142     0.290053  0.709947
user-1-1451    0.000000  1.000000
user-1-1465    1.000000  0.000000
user-1-1582    0.000000  1.000000
user-1-19      0.291667  0.708333
user-1-2       0.459156  0.540844
user-1-39      0.500000  0.500000
user-1-4       0.111111  0.888889
user-1-47      0.233333  0.766667
user-1-49      0.384541  0.615459
user-1-54      0.400000  0.600000
user-1-56      0.500000  0.500000
user-1-63      0.000000  1.000000
user-1-67      0.090278  0.909722
user-1-69      1.000000  0.000000
user-1-7       0.424242  0.575758
user-1-72      0.476190  0.523810
user-1-76      0.346537  0.653463
user-1-78      0.085106  0.914894
user-1-8       0.863014  0.136986
user-1-83      0.250000  0.750000
user-1-9       0.311193  0.688807
user-1-False   0.884488  0.115512

In [110]:
pd.crosstab(data['source'], data['is_successful'], normalize='index')

is_successful                                              0         1
source
150ml Translucent Purple PET Boston Round, 20/4...  0.500000  0.500000
30ml, 50ml and 100ml Airless 5k                     1.000000  0.000000
45125 and 3829T-300T                                0.000000  1.000000
Abandoned Basket                                    0.000000  1.000000
Already a Customer                                  0.612005  0.387995
...                                                      ...       ...
Website/Zendesk                                     0.575000  0.425000
♻️  Upgrade your Roll-on! NEW Aluminium Bottle ...  1.000000  0.000000
👀 Low MOQ, High-Quality Aluminium Bottle Printi...  1.000000  0.000000
👀 Low MOQ, High-Quality Aluminium Bottle Printi...  0.000000  1.000000
💃Shake Things Up! With Our Eco-Friendly Alumini...  0.000000  1.000000

[66 rows x 2 columns]